{% extends 'base.html' %}

{% block title %} ورود کد تایید {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <h2 class="h4">کد تایید را وارد کنید</h2>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'accounts:registration_step_two' %}">
                        {% csrf_token %}
                        {{ form.code.label_tag }}<br>
                        {{ form.code }}<br>
                        <div>

                        <button type="submit" class="btn btn-primary">تایید کد</button>

                    </div>

                    </form>
                    <div class="mt-3">
                        <p id="countdown">2:00</p>
                        <form method="POST" action="{% url 'accounts:registration_step_two' %}">
                            {% csrf_token %}
                        <div>
                            <button id="resend-button" name="resend_code" class="btn btn-link" style="display: none;">ارسال مجدد کد</button>
                        </div>
                    <div>
                        <a class="btn btn-secondary btn-lg" href="{% url 'accounts:registration_step_one' %}">شماره موبایل اشتباه است</a>
                    </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const countdownElement = document.getElementById("countdown");
        const resendButton = document.getElementById("resend-button");

        let timer = localStorage.getItem("remainingTime");
        timer = timer ? parseInt(timer, 10) : 120;  // اگر زمان ذخیره شده وجود نداشته باشد، از 2 دقیقه شروع کن

        function updateTimer() {
            let minutes = Math.floor(timer / 60);
            let seconds = timer % 60;
            countdownElement.textContent = minutes + ":" + (seconds < 10 ? "0" : "") + seconds;

            if (timer <= 0) {
                clearInterval(countdownInterval);
                countdownElement.style.display = "none";
                resendButton.style.display = "block";
                localStorage.removeItem("remainingTime");  // پاک کردن زمان ذخیره شده
            } else {
                localStorage.setItem("remainingTime", timer);
            }

            timer--;
        }

        const countdownInterval = setInterval(updateTimer, 1000);

        resendButton.addEventListener("click", function () {
            localStorage.removeItem("remainingTime");
            // راه اندازی مجدد تایمر به 2 دقیقه برای ارسال مجدد کد
            timer = 120;
            countdownElement.style.display = "block";
            resendButton.style.display = "none";
            updateTimer();  // شروع تایمر از نو
        });
    });



</script>


{% endblock content %}
