{% extends 'base.html' %}

{% block title %} ورود شماره تلفن {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <h2 class="h4">ثبت نام </h2>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-group mb-3">
                            {{ form.phone_number.label_tag }}
                            {{ form.phone_number }}
                            

                            <!-- نمایش خطای شماره تلفن در صورت وجود -->
                            {% if form.phone_number.errors %}
                                <div class="invalid-feedback" style="display: block;">
                                    {% for error in form.phone_number.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary">بعدی</button>

                    
                        <div class="form-group d-flex justify-content-between align-items-center">
                            <a href="{% url 'accounts:forgot_password' %}" class="text-primary">رمز عبور را فراموش کرده‌اید؟</a>
                            <a class="btn btn-primary btn-lg" href="{% url 'accounts:login' %}">صفحه ورورد</a> 
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
