<!-- visits/templates/visits/payment_link_sent.html -->

{% extends 'base.html' %}

{% block title %}پیام ارسال شد{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <h2 class="h4">پیام ارسال شد</h2>
                </div>
                <div class="card-body">
                    <p>لینک پرداخت به شماره {{ phone_number }} ارسال شد.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
