<!-- visits/templates/visits/payment_failed.html -->

{% extends 'base.html' %}

{% block title %}پرداخت ناموفق{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <h2 class="h4">پرداخت ناموفق</h2>
                </div>
                <div class="card-body">
                    <p>{{ message }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
